<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Animals App</title>
</head>

<body>
    <main>
        <div class="container">

            <h1>Create a New Animal</h1>

            <form action="/animals" method="post">
                Name: <input type="text" name="name" placeholder="Animal Name"></br>
                Is the animal extinct? <input type="checkbox" name="extinct"></br>
                Image: <input type="text" name="image" placeholder="Image URL"></br>
                Species: <input type="text" name="species" placeholder="Species"></br>
                Location: <input type="text" name="location" placeholder="Location"></br>
                Life Expectancy: <input type="number" name="lifeExpectancy" placeholder="Life Expectancy"></br>

                <input type="submit" value="Create an New Animal">
            </form>

        </div>
    </main>
</body>

</html>